body
{
       background-color: #121212;
       overflow-y: hidden;
}
.menu
{
    margin-top: -8px;
    margin-left: 300px;
    width: auto;
    background-color: #1D202A;
    border-bottom: 1px solid rgb(149,211,239);
    height: 55px;
    cursor: default;
    border-radius: 10px
}
.sidebar
{
    width: 8cm;
    background-color: #1D202A;
    position: fixed;
    top: 0;
    bottom: 8px;
    left: 0;
    border-radius: 10px;
}
.menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li
{
    float: left;
}
.menu ul li a
{
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 45px;
}
.menu ul li:hover
{
    background-color: #555;
}
.menu ul li:hover ul
{
    display: block;
}
.submenu
{
    display: none;
    position: absolute;
    background-color: #333;
    width: 150px;
    text-align: center;
    line-height: 20px;
}
.submenu li
{
    display: block;
}
.submenu li a
{
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.submenu li:hover
{
    background-color: #555;
}
.menu-item
{
    position: relative;
}
.menu-icon
{
    position: absolute;
    left: 88%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}
.user-profile
{
    padding: 20px;
}
.user-avatar
{
    text-align: center;
}
.user-avatar img
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 10px;
}
.user-info
{
    color: #124458;
}
.user-info h2
{
    margin-bottom: 40px;
}
.user-detail p
{
    margin: 5px;
}
.info-separator
{
    margin: 10px 0 40px;
    border: none;
    border-top: 1px solid #fff;
}
.clock
{
    text-align: center;
    margin-top: 48px;
}
.clock p
{
    color: white;
    font-size: 24px;
    margin: 0;
}
.cards-container
{
    display: flex;
    margin-top: 30px;
    margin-left: 300px;
}
.card
{
    width: 50%;
    margin-right: 20px;
    height: 90px;
    border: 1px solid rgb(149,211,239);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card h3
{
    margin-top: 0;
    color: #e0e0e0;
    font-size: 18px;
    font-weight: bold;
}
.card p
{
    font-size: 16px;
    color: #ccffcc;
    margin: 10px 0 0;
    font-weight: bold;
}
.dashboard-container
{
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    justify-content: space-between;
    align-items: flex-start;
}
.filter-card
{
    width: 30%;
    height: 415px;
    margin-right: 20px;
    background-color: #1D202A;
    padding: 23px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(149,211,239);
}
.filter-card h3
{
    margin-top: 0;
    font-size: 20px;
    color: white;
}
.filter-card form
{
    margin-top: 20px;
}
.form-group
{
    margin-bottom: 15px;
}
.form-group label
{
    display: block;
    color: gray;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group select,
.form-group input[type="date"]
{
    width: 100%;
    padding: 8px;
    background-color: #ccc;
    border: 1px solid rgb(149,211,239);
    border-radius: 3px;
}
.chart-container
{
    width: 65%;
    height: 415px;
    background-color: #1D202A;
    padding: 23px;
    border-radius: 5px;
    border: 1px solid rgb(149,211,239);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#areaChart
{
    width: 100%;
    height: 100%;
}