<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financas Receitas</title>
    <link rel="stylesheet" href="{% static 'css/receitas.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include "principal/home.html" %}
    <div class="container">
        <h1>Análise de Receitas</h1>

        <div class="total-receitas">
            <h2 style="color: white;">Valor Total das Receitas: R$ {{ total_receitas }}</h2>
        </div>

        <div class="grafico-pareto">
            <canvas id="paretoChart"></canvas>
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('paretoChart').getContext('2d');

            var receitasPorCategoria = {{ receitas_por_categoria|safe }};

            var labels = receitasPorCategoria.map(function (item) {
                return item.categoria;
            });

            var data = receitasPorCategoria.map(function (item) {
                return item.valor__sum;
            });

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Receitas por Categoria',
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function (value) {
                                    return 'R$ ' + value;
                                }
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    return 'R$ ' + context.raw;
                                }
                            }
                        }
                    }
                }
            });
        });
        hideContainers();
    </script>
</body>
</html>